<!DOCTYPE html>
<html lang="en">
<head>

     <title>Organic Farming - Blog Page</title>
<!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/css/magnific-popup.css">
     <link rel="stylesheet" href="/static/css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/static/css/templatemo-style.css">
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/templates/index.html" class="navbar-brand">Organic Farming</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="index.html#home" class="smoothScroll">Home</a></li>
                         <li><a href="index.html#about" class="smoothScroll">About</a></li>
                         <li><a href="index.html#blog" class="smoothScroll">Blog</a></li>
                         <li><a href="index.html#work" class="smoothScroll">Our Work</a></li>
                         <li><a href="index.html#contact" class="smoothScroll">Contacts</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li>
                    </ul>
               </div>

          </div>
     </section>


     <!-- BLOG HEADER -->
     <section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-5 col-sm-12">
                         <h2>What is the real gift given by us to future generations?</h2>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- BLOG DETAIL -->
     <section id="blog-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <!-- BLOG THUMB -->
                         <div class="blog-detail-thumb">
                              <div class="blog-image">
                                   <img src="/static/images/blog-detail-image3.jpg" class="img-responsive" alt="Blog Image">
                              </div>
                              <h2>Why Organic Farming?</h2>
                              <p>Organic farming is a subsistence type of agricultural system that uses ecologically based pest controls and biological fertilizers derived largely from animal and plant wastes and nitrogen-fixing cover crops.
                                   It is unique production management system which promotes and enhances agro-ecosystem health, including biodiversity, biological cycles and soil biological activity.</p>

                              <blockquote>"The health of soil, plant, animal and man is one and indivisible!!!"</blockquote>

                              <p>The Green revolution introduced modern chemical fertilisers, modern farming techniques along with better seed management which boosted up the country’s foodgrain production. 
                                   The use of chemical fertilisers, synthetic pesticides, germicides, herbicides and Genetically Engineered (GE) seeds became completely uncontrolled and started polluting the complete supply chain. 
                                   As a result, children were born with disabilities and several lands became unproductive. People slowly started migrating to organic farming.</p>
                              </p>

                              <div class="blog-ads">
                                   <h4>Surely we have a responsibility to leave for future generations a planet that is healthy and habitable by all species...</h4>
                              </div>
                              
                              <p>Thus real gift given by us to our future generations is healthy and chemical-free soil by practising organic farming.
                                   Though organic farming has a lot of challenges, we have to promote it because it produces healthy food.
                                   Crop-rotation used in organic farming strengthens the soil composition and legume family crops fix nitrogen from the air and increase the nitrates in the soil.
                                   This makes soil more fertile.</p>
                              <h4><b>Principles of Organic Farming:</b><h4>
                              <ol type="1">
                                   <li>Principle of Health</li>
                                   <li>Principle of Fairness</li>
                                   <li>Principle of Ecological Balance</li>
                                   <li>Principle of Care</li>
                              </ol>
                              <p>Organic farming provides good quality of life and helps in reducing poverty. It uses natural resources judiciously and preserves them for future generations.
                                   Organic farming is not a new concept in India, it is time to go back to its roots and promote sustainability. </p>
                              <div class="blog-social-share">
                                   <h4>Share this article</h4>
                                   <a href="https://www.facebook.com/templatemo" class="btn btn-primary"><i class="fa fa-facebook"></i>facebook</a>
                                   <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                                   <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>google plus</a>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info"> 
                              <h2>Farmacy Company</h2>
                              <p>Eating Organic isn't a trend. It's return to tradition!!!</p>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>
                                   <li><a href="#">Press</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Services</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Pricing</a></li>
                                   <li><a href="#">Documentation</a></li>
                                   <li><a href="#">Support</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Find us</h2>
                              <p>Yamnampet, Ghatkesar,<br>Hyderabad, Telangana 501301</p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text"> 
                                        <p>Copyright &copy; 2017 Farmacy Company</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact"> 
                                        <p>Call us <span>(+66) 010-020-0340</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>

     <!-- MODAL -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>Hydro Co</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                             <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                                             <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="#" method="post">
                                                       <input type="text" class="form-control" name="name" placeholder="Name" required>
                                                       <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                  </form>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                       <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="/static/js/jquery.js"></script>
     <script src="/static/js/bootstrap.min.js"></script>
     <script src="/static/js/jquery.stellar.min.js"></script>
     <script src="/static/js/jquery.magnific-popup.min.js"></script>
     <script src="/static/js/smoothscroll.js"></script>
     <script src="/static/js/custom.js"></script>

</body>
</html>