
<html lang="en">
    <head>
         <title>Farmacy</title>
   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
   
   
        <!-- MAIN CSS -->
        
		<link rel="stylesheet" href="/static/css/templatemo-style.css">
   </head>
   
   
   

    <body style="padding-top: 50px;">
        <!-- Header -->
        <section class="navbar custom-navbar navbar-fixed-top" style="background-color: rgb(0, 174, 255); margin-bottom: 50px;" role="navigation">
			<div class="container">
  
				 <div class="navbar-header">
					  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						   <span class="icon icon-bar"></span>
						   <span class="icon icon-bar"></span>
						   <span class="icon icon-bar"></span>
					  </button>
  
					  <!-- lOGO TEXT HERE -->
					  <a href="/index.html" class="navbar-brand">Farmacy</a>
				 </div>
  
				 <!-- MENU LINKS -->
				 <div class="collapse navbar-collapse">
					  <ul class="nav navbar-nav navbar-nav-first">
						   <li><a href="#home" class="smoothScroll">Home</a></li>
						   <li><a href="#about" class="smoothScroll">About</a></li>
						   <li><a href="#blog" class="smoothScroll">Blog</a></li>
						   <li><a href="#work" class="smoothScroll">Our Work</a></li>
						   <li><a href="#contact" class="smoothScroll">Contacts</a></li>
					  </ul>
  
					  <ul class="nav navbar-nav navbar-right">
						   <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
						   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
						   <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li>
					  </ul>
				 </div>
  
			</div>
	   </section>
  
  <!--Header end-->
    <section id="blog-detail" data-stellar-background-ratio="0.5" style="background-color: cornsilk;">
		 
				<div class="blog-detail-thumb">
					<h2 style="text-align: center; font-weight: bold; font-style: italic;">Have you imagined why no one in ancient times suffered from these deficiencies?</h2>
					<p style="padding-left: 200px; padding-right: 200px; color: black;">Take a look at people around us. So many of us are suffering from some or the other deficiency. Because we are using aluminium and non-stick cookware which slowly dissolves aluminium and teflon coating into our food and gives birth to cancer. </p>
					<p style="padding-left: 200px; color: black;">In ancient days, people prepared their food in clay, which is so rich in nutrients that it makes up for all the lost nutrition in your food. When you cook in clayware, you never have to waste money on expensie supplements again.</p>
					<p style="padding-left: 200px; color: black;">So, the faster you get rid of metal cookware, the safer you'll be!!!</p>
				</div>				
	
    </section>     			
<!-- WORK -->
<section id="work" data-stellar-background-ratio="0.5" style="background-color: rgb(0, 174, 255)">
	<div class="container">
		 <div class="row" >

			  <div class="col-md-12 col-sm-12">
				   <div class="section-title">
						<h2>Metal Cookware &lt; - &gt; Clay Cookware</h2>
						
				   </div>
			  </div>

			  <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
				   <!-- WORK THUMB -->
				   <div class="work-thumb">


					<img src="/static/images/e1.jpg" id="myImage01" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					<div id="myDIV01" style="font-weight: bold;">Metal Pressure Cookers</div> 
					<button onclick="changeImage01()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					<script>
						function changeImage01() {
							var image = document.getElementById('myImage01');
							var x = document.getElementById("myDIV01");
							if (image.src.match("/static/images/e1a.jpeg") && x.innerHTML === "Clay Pressure Cooker") {
								image.src = "/static/images/e1.jpg";
								x.innerHTML = "Metal Pressure Cooker";
							}
							else {
						
					image.src = "/static/images/e1a.jpeg";
					x.innerHTML = "Clay Pressure Cookers";
							}
						}
					</script>

	                </div>
			    </div>
				<div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
					<!--WORK THUMB-->
					<div class="work-thumb">
 
 
					 <img src="/static/images/e2.jpg" id="myImage02" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					 <div id="myDIV02" style="font-weight: bold;">Non Stick Cookwares</div>
					 <button onclick="changeImage02()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					 <script>
						 function changeImage02() {
							 var image = document.getElementById('myImage02');
							 var x = document.getElementById("myDIV02");
							 if (image.src.match("/static/images/e2a.jpg") && x.innerHTML === "Clay Cookware") {
								 image.src = "/static/images/e2.jpg";
								 x.innerHTML = "Non Stick Cookwares";
							 }
							 else {
						 
					 image.src = "/static/images/e2a.jpg";
					 x.innerHTML = "Clay Cookware";
							 }
						 }
					 </script>
 
					 </div>
				 </div>
				 <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
					<!--WORK THUMB-->
					<div class="work-thumb">
 
 
					 <img src="/static/images/e3.jpg" id="myImage03" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					 <div id="myDIV03" style="font-weight: bold;">Plastic & Steel Bottles</div>
					 <button onclick="changeImage03()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					 <script>
						 function changeImage03() {
							 var image = document.getElementById('myImage03');
							 var x = document.getElementById("myDIV03");
							 if (image.src.match("/static/images/e3a.jpg") && x.innerHTML === "Clay Water Bottles") {
								 image.src = "/static/images/e3.jpg";
								 x.innerHTML = "Plastic & Steel Bottles";
							 }
							 else {
						 
					 image.src = "/static/images/e3a.jpg";
					 x.innerHTML = "Clay Water Bottles";
							 }
						 }
					 </script>
					 </div>
				 </div>
				 <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
					<!-- WORK THUMB -->
					<div class="work-thumb">
					 <img src="/static/images/e4.jpg" id="myImage04" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					 <div id="myDIV04" style="font-weight: bold;">Non Stick Tawa & Kadai</div>
					 <button onclick="changeImage04()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					 <script>
						 function changeImage04() {
							 var image = document.getElementById('myImage04');
							 var x = document.getElementById("myDIV04");
							 if (image.src.match("/static/images/e4a.jpg") && x.innerHTML === "Clay Tawa & Kadai") {
								 image.src = "/static/images/e4.jpg";
								 x.innerHTML = "Non Stick Tawa & Kadai";
							 }
							 else {
						 
					 image.src = "/static/images/e4a.jpg";
					 x.innerHTML = "Clay Tawa & Kadai";
							 }
						 }
					 </script>
 
					 </div>
				 </div>
				 <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
					<!--WORK THUMB-->
					<div class="work-thumb">
					 <img src="/static/images/e5.jpeg" id="myImage05" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					 <div id="myDIV05" style="font-weight: bold;">RO Water Purifier</div>
					 <button onclick="changeImage05()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					 <script>
						 function changeImage05() {
							 var image = document.getElementById('myImage05');
							 var x = document.getElementById("myDIV05");
							 if (image.src.match("/static/images/e5a.jpg") && x.innerHTML === "Clay Water Filter") {
								 image.src = "/static/images/e5.jpeg";
								 x.innerHTML = "RO Water Purifier";
							 }
							 else {
						 
					 image.src = "/static/images/e5a.jpg";
					 x.innerHTML = "Clay Water Filter";
							 }
						 }
					 </script>
 
					 </div>
				 </div>
				 <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
					 <!--WORK THUMB-->
					 <div class="work-thumb">
					  <img src="/static/images/e6.jpg" id="myImage06" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					  <div id="myDIV06" style="font-weight: bold;">Electric Refrigerator</div>
					  <button onclick="changeImage06()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					  <script>
						  function changeImage06() {
							  var image = document.getElementById('myImage06');
							  var x = document.getElementById("myDIV06");
							  if (image.src.match("/static/images/e6a.jpg") && x.innerHTML === "Clay Refrigerator") {
								  image.src = "/static/images/e6.jpg";
								  x.innerHTML = "Electric Refrigerator";
							  }
							  else {
						  
					  image.src = "/static/images/e6a.jpg";
					  x.innerHTML = "Clay Refrigerator";
							  }
						  }
					  </script>
  
					  </div>
				  </div>
				  <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
					 <!--WORK THUMB-->
					 <div class="work-thumb">
					  <img src="/static/images/e7.webp" id="myImage07" width="200" height="230" style="border: 2px solid black; border-radius: 12px;"><br>
					  <div id="myDIV07" style="font-weight: bold;">Steel & Non Stick Utensils</div> 
					  <button onclick="changeImage07()" class="btn btn-primary" style="margin: 5px; background-color: orange; color: black;">SWAP</button>
					  <script>
						  function changeImage07() {
							  var image = document.getElementById('myImage07');
							  var x = document.getElementById("myDIV07");
							  if (image.src.match("/static/images/e7a.jpg") && x.innerHTML === "Wooden Utensils") {
								  image.src = "/static/images/e7.webp";
								  x.innerHTML = "Steel & Non Stick Utensils";
							  }
							  else {
						  
					  image.src = "/static/images/e7a.jpg";
					  x.innerHTML = "Wooden Utensils";
							  }
						  }
					  </script>
  
					  </div>
				  </div>

		</div>
	</div>
</section>
					   
        <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
		<div class="container">
			 <div class="row">

				  <div class="col-md-5 col-sm-12">
					   <div class="footer-thumb footer-info"> 
							<h2>Farmacy Company</h2>
							<p>Eat healthy and Stay healthy</p>
					   </div>
				  </div>

				  <div class="col-md-2 col-sm-4"> 
					   <div class="footer-thumb"> 
							<h2>Company</h2>
							<ul class="footer-link">
								 <li><a href="#">About Us</a></li>
								 <li><a href="#">Join our team</a></li>
								 <li><a href="#">Read Blog</a></li>
								 <li><a href="#">Press</a></li>
							</ul>
					   </div>
				  </div>

				  <div class="col-md-2 col-sm-4"> 
					   <div class="footer-thumb"> 
							<h2>Services</h2>
							<ul class="footer-link">
								 <li><a href="#">Farm Products</a></li>
								 <li><a href="#">Diet Foods</a></li>
								 <li><a href="#">Sell and Buy</a></li>
							</ul>
					   </div>
				  </div>

				  <div class="col-md-3 col-sm-4"> 
					   <div class="footer-thumb"> 
							<h2>Find us</h2>
							<p>Yamnampet, Ghatkesar,<br>Hyderabad, Telangana 501301</p>
					   </div>
				  </div>                    

				  <div class="col-md-12 col-sm-12">
					   <div class="footer-bottom">
							<div class="col-md-6 col-sm-5">
								 <div class="copyright-text"> 
									  <p>Copyright &copy; 2021 Farmacy Company</p>
								 </div>
							</div>
							<div class="col-md-6 col-sm-7">
								 <div class="phone-contact"> 
									  <p>Call us <span>(+66) 010-020-0340</span></p>
								 </div>
								 <ul class="social-icon">
									  <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a></li>
									  <li><a href="#" class="fa fa-twitter"></a></li>
									  <li><a href="#" class="fa fa-instagram"></a></li>
								 </ul>
							</div>
					   </div>
				  </div>
				  
			 </div>
		</div>
		
   </footer>

   
   <!-- MODAL -->
   <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			 <div class="modal-content modal-popup">

				  <div class="modal-header">
					   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					   </button>
				  </div>

				  <div class="modal-body">
					   <div class="container-fluid">
							<div class="row">

								 <div class="col-md-12 col-sm-12">
									  <div class="modal-title">
										   <h2>Orgo - Life</h2>
									  </div>

									  <!-- NAV TABS -->
									  <ul class="nav nav-tabs" role="tablist">
										   <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
										   <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
									  </ul>

									  <!-- TAB PANES -->
									  <div class="tab-content">
										   <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
												<form action="#" method="post">
													 <input type="text" class="form-control" name="name" placeholder="Name" required>
													 <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
													 <input type="email" class="form-control" name="email" placeholder="Email" required>
													 <input type="password" class="form-control" name="password" placeholder="Password" required>
													 <input type="submit" class="form-control" name="submit" value="Submit Button">
												</form>
										   </div>

										   <div role="tabpanel" class="tab-pane fade in" id="sign_in">
												<form action="#" method="post">
													 <input type="email" class="form-control" name="email" placeholder="Email" required>
													 <input type="password" class="form-control" name="password" placeholder="Password" required>
													 <input type="submit" class="form-control" name="submit" value="Submit Button">
													 <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
												</form>
										   </div>
									  </div>
								 </div>

							</div>
					   </div>
				  </div>

			 </div>
		</div>
   </section>



   <!-- SCRIPTS -->
   <script src="/static/js/jquery.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/jquery.stellar.min.js"></script>
   <script src="/static/js/jquery.magnific-popup.min.js"></script>
   <script src="/static/js/smoothscroll.js"></script>
   <script src="/static/js/custom.js"></script>
   
    </body> 
</html>