
<html lang="en">
    <head>
         <title>Farmacy</title>
   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
   
   
        <!-- MAIN CSS -->
        
		<link rel="stylesheet" href="/static/css/templatemo-style.css">
   </head>
   
   
   

    <body style="padding-top: 50px;">
        <!-- Header -->
        <section class="navbar custom-navbar navbar-fixed-top" style="background-color: rgb(0, 174, 255); margin-bottom: 50px;" role="navigation">
			<div class="container">
  
				 <div class="navbar-header">
					  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						   <span class="icon icon-bar"></span>
						   <span class="icon icon-bar"></span>
						   <span class="icon icon-bar"></span>
					  </button>
  
					  <!-- lOGO TEXT HERE -->
					  <a href="/index.html" class="navbar-brand">Farmacy</a>
				 </div>
  
				 <!-- MENU LINKS -->
				 <div class="collapse navbar-collapse">
					  <ul class="nav navbar-nav navbar-nav-first">
						   <li><a href="#home" class="smoothScroll">Home</a></li>
						   <li><a href="#about" class="smoothScroll">About</a></li>
						   <li><a href="#blog" class="smoothScroll">Blog</a></li>
						   <li><a href="#work" class="smoothScroll">Our Work</a></li>
						   <li><a href="#contact" class="smoothScroll">Contacts</a></li>
					  </ul>
  
					  <ul class="nav navbar-nav navbar-right">
						   <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
						   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
						   <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li>
					  </ul>
				 </div>
  
			</div>
	   </section>
  
  <!--Header end-->
 <section style="background-color: #f08080">
        <div id="content">
            <!--Main banner image-->
            <div id = "banner_image">
                <div class="container">	
					<div class="blog-detail-thumb">
						<h2 style="text-align: center; font-weight: bold; font-style: italic;">Do you have any idea of how our ancestors used to monitor their health conditions without any machines?</h2>
						<p style="padding-left: 50px; color: black;">According to our ancestors, Unity of Disease(all diseases are one) and Unity of Treatment(The solution for all diseases is also one).</p>
						<p style="padding-left: 50px; color: black;">No disease can survive in the body that is clean internally, i.e., Highly Clean body = Highly Immune Body.</p>
						<p style="padding-left: 50px; color: black;">Our Scriptures have given clear signs of good immunity. Our ancestors are used to calculate their immunity score by preferring those signs.</p>
				
					</div>

                    <center>
                        <div id="banner_content">
							  <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action" style="border-radius: 12px; font-size: 20px; border: 2px solid black; width: 80%; margin: 10px; "><h1>8 Signs Of Good Immunity</h1></a>
				
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #b3ffb1; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#b3ffb1'" >No Excess Weight</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #b1b3ff; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#b1b3ff'">Clear Skin</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #ff993c; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#ff993c'">Absence Of Laziness</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #847d8f; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#847d8f'">Strong Sense Of Hunger</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #a9627b; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#a9627b'">Deep Sleep</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #1f8561; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#1f8561'">No Pain In The body</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #ffd6b1; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#ffd6b1'">Positive Thoughts</a>
                                <a href="#" class="list-group-item list-group-item-action " style="border-radius: 12px; background-color: #c6e3d3; font-size: 20px; border: 2px solid black; width: 60%; margin: 10px;" onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#c6e3d3'">Daily Bowel Movement</a>
                              </div>
                            <br/>
                            
                        </div>
                    </center>
                </div>
            </div>
		</section>	
            <!--Main banner image end-->

         
	<!-- WORK -->
	<section id="work" data-stellar-background-ratio="0.5" >
	    <div class="container">
			<div class="row">
				  <div class="col-lg-4 col-md-4 col-sm-6">
					 <!--WORK THUMB-->
					 <div class="work-thumb">
					  <img src="/static/images/earthernware.jpg" id="myImage7" width="200" height="250" style="border: 2px solid black; border-radius: 12px;"><br>
					  <a href="/earthenware"><button class="btn btn-primary" style="margin: 5px;">Earthern Cookware</button></a> 
					  </div>
				  </div>
				  <div class="col-lg-4 col-md-4 col-sm-6">
					<!--WORK THUMB-->
					<div class="work-thumb">
					 <img src="/static/images/HealthFoodSwaps.png" id="myImage7" width="200" height="250" style="border: 2px solid black; border-radius: 12px;"><br>
					 <a href="/swaps"><button class="btn btn-primary" style="margin: 5px;">Healthy Swaps</button></a>
					 </div>
				 </div>
				  <div class="col-lg-4 col-md-4 col-sm-6">
					 <!--WORK THUMB-->
					 <div class="work-thumb">
					  <img src="/static/images/ancientroutine.jpeg" id="myImage8" width="200" height="250" style="border: 2px solid black; border-radius: 12px;"><br>
					  <a href="/ancientroutine"><button class="btn btn-primary" style="margin: 5px;">Ancient Daily Routine</button></a>
					  </div>
				  </div>
		    </div>
	    </div>
    </section>

	
					   
        <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
		<div class="container">
			 <div class="row">

				  <div class="col-md-5 col-sm-12">
					   <div class="footer-thumb footer-info"> 
							<h2>Farmacy Company</h2>
							<p>Eat healthy and Stay healthy</p>
					   </div>
				  </div>

				  <div class="col-md-2 col-sm-4"> 
					   <div class="footer-thumb"> 
							<h2>Company</h2>
							<ul class="footer-link">
								 <li><a href="#">About Us</a></li>
								 <li><a href="#">Join our team</a></li>
								 <li><a href="#">Read Blog</a></li>
								 <li><a href="#">Press</a></li>
							</ul>
					   </div>
				  </div>

				  <div class="col-md-2 col-sm-4"> 
					   <div class="footer-thumb"> 
							<h2>Services</h2>
							<ul class="footer-link">
								 <li><a href="#">Farm Products</a></li>
								 <li><a href="#">Diet Foods</a></li>
								 <li><a href="#">Sell and Buy</a></li>
							</ul>
					   </div>
				  </div>

				  <div class="col-md-3 col-sm-4"> 
					   <div class="footer-thumb"> 
							<h2>Find us</h2>
							<p>Yamnampet, Ghatkesar,<br>Hyderabad, Telangana 501301</p>
					   </div>
				  </div>                    

				  <div class="col-md-12 col-sm-12">
					   <div class="footer-bottom">
							<div class="col-md-6 col-sm-5">
								 <div class="copyright-text"> 
									  <p>Copyright &copy; 2021 Farmacy Company</p>
								 </div>
							</div>
							<div class="col-md-6 col-sm-7">
								 <div class="phone-contact"> 
									  <p>Call us <span>(+66) 010-020-0340</span></p>
								 </div>
								 <ul class="social-icon">
									  <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a></li>
									  <li><a href="#" class="fa fa-twitter"></a></li>
									  <li><a href="#" class="fa fa-instagram"></a></li>
								 </ul>
							</div>
					   </div>
				  </div>
				  
			 </div>
		</div>
		
   </footer>

   
   <!-- MODAL -->
   <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			 <div class="modal-content modal-popup">

				  <div class="modal-header">
					   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					   </button>
				  </div>

				  <div class="modal-body">
					   <div class="container-fluid">
							<div class="row">

								 <div class="col-md-12 col-sm-12">
									  <div class="modal-title">
										   <h2>Orgo - Life</h2>
									  </div>

									  <!-- NAV TABS -->
									  <ul class="nav nav-tabs" role="tablist">
										   <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
										   <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
									  </ul>

									  <!-- TAB PANES -->
									  <div class="tab-content">
										   <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
												<form action="#" method="post">
													 <input type="text" class="form-control" name="name" placeholder="Name" required>
													 <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
													 <input type="email" class="form-control" name="email" placeholder="Email" required>
													 <input type="password" class="form-control" name="password" placeholder="Password" required>
													 <input type="submit" class="form-control" name="submit" value="Submit Button">
												</form>
										   </div>

										   <div role="tabpanel" class="tab-pane fade in" id="sign_in">
												<form action="#" method="post">
													 <input type="email" class="form-control" name="email" placeholder="Email" required>
													 <input type="password" class="form-control" name="password" placeholder="Password" required>
													 <input type="submit" class="form-control" name="submit" value="Submit Button">
													 <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
												</form>
										   </div>
									  </div>
								 </div>

							</div>
					   </div>
				  </div>

			 </div>
		</div>
   </section>



   <!-- SCRIPTS -->
   <script src="/static/js/jquery.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/jquery.stellar.min.js"></script>
   <script src="/static/js/jquery.magnific-popup.min.js"></script>
   <script src="/static/js/smoothscroll.js"></script>
   <script src="/static/js/custom.js"></script>
   
    </body> 
</html>